@import		"../../fonts/fonts.css";
@import		"./color-table.less";


body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 28%, 7%);
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px;
}


pre,
code {
  font-family: 'Fira Code', monospace;
}


.code-line {
  font-size: 85%;
  background-color: hsl(218, 10%, 23%);
  padding: .2em .4em;
  border-radius: 5px;
}


.code-block {
  font-size: 85%;
  background-color: hsl(215, 21%, 11%);
  border-radius: 10px;
  
}




.interactive-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .table-container {
    overflow-x: auto;
    --webkit-overflow-scrolling: touch;
  }
}

.ansi-table {
  font-family: 'Fira Code', monospace;
  text-align: center;
  font-size: 80%;
  font-weight: 500;
  width: 100%;
  background: #f6f6f6;
  cursor: default;
  padding: 5px;
  border-radius: 5px;
}



.ansi-table td button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Make the button look like it's clickable */
}

.ansi-table table {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.info-box {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.hidden {
  display: none;
}