@import		"../../fonts/fonts.css";
@import		"./color-table.less";


body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 28%, 7%);
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


pre,
code {
  font-family: 'Fira Code', monospace;
}


.code-line {
  font-size: 0.9em;
  font-weight: 500;
  background-color: hsl(218, 10%, 23%);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}


.code-block {
  font-size: 0.8em;
  pre {
    background-color: hsl(216, 18%, 11%);
    border-radius: 10px;
  }
}




.interactive-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 1400px;
}